In [2]:
import glob
import pandas as pd

precip = pd.DataFrame()

for file in glob.iglob('/data/users/hgilmour/cold-core-filtering/Save/CC&PF/*.hdf'):   
   file = pd.read_hdf(file, 'table')
   precip = pd.concat([precip, file])

print(precip)

      frame  idx      hdim_1      hdim_2   num  threshold_value  feature  \
5094    404  192  895.129704  990.750856  2921              240     5095
5104    405  154  896.933437  987.794479  3452              240     5105
5119    406  159  904.169606  982.666063  4211              240     5120
5133    407  146  912.330189  976.992186  5436              240     5134
5145    408  126  917.242474  970.265297  6523              240     5146
...     ...  ...         ...         ...   ...              ...      ...
1713    121  142  787.815426  884.824504  3301              240     1714
1727    122  114  789.523351  882.852131  3856              240     1728
1741    123  118  790.395635  879.315758  3707              240     1742
1753    124  104  793.223009  873.981790  3357              240     1754
1764    125  131  800.116547  868.606793  2106              240     1765

                     time              timestr  latitude  ...  \
5094  2005-01-17 20:30:00  2005-01-17 20:30:00 -3.787296  ...
5104  2005-01-17 21:30:00  2005-01-17 21:30:00 -3.714247  ...
5119  2005-01-17 22:30:00  2005-01-17 22:30:00 -3.421182  ...
5133  2005-01-17 23:30:00  2005-01-17 23:30:00 -3.090677  ...
5145  2005-01-18 00:30:00  2005-01-18 00:30:00 -2.891730  ...
...                   ...                  ...       ...  ...
1713  2005-01-06 01:30:00  2005-01-06 01:30:00 -8.133526  ...
1727  2005-01-06 02:30:00  2005-01-06 02:30:00 -8.064354  ...
1741  2005-01-06 03:30:00  2005-01-06 03:30:00 -8.029027  ...
1753  2005-01-06 04:30:00  2005-01-06 04:30:00 -7.914518  ...
1764  2005-01-06 05:30:00  2005-01-06 05:30:00 -7.635329  ...

      heavy_rain_flag  extreme_rain_flag  max_precip  mean_precip      tb_min  \
5094              329                 70  115.286415     4.302215  186.774536
5104              390                 58   98.194763     4.210253  186.774536
5119              407                 36  113.204552     3.282438  186.774536
5133              249                 43  111.341049     2.333134  186.774536
5145              291                 37  110.989799     1.841960  187.475327
...               ...                ...         ...          ...         ...
1713               57                  2   57.634186     0.626328  183.907913
1727                3                  0   18.027931     0.156370  183.907913
1741                0                  0    4.192292     0.036072  183.907913
1753                0                  0    2.758430     0.006530  183.907913
1764                0                  0    0.897307     0.001893  184.678680

         tb_mean  cold_core_flag  tb_210  tb_200  tb_190
5094  275.895905               0   41302    8713      65
5104  276.037750               0   48665    9597      55
5119  275.837189               0   62328   12218      68
5133  275.933258               0   77389   14406      75
5145  275.763062               0   91345   18351      80
...          ...             ...     ...     ...     ...
1713  256.087097               0  196403   59390    3973
1727  256.229523               0  225820   69129    4675
1741  256.179413               0  215524   66113    4443
1753  255.782974               0  198516   59541    3339
1764  255.732620               0  121261   35385    1312

[4540 rows x 30 columns]

In [4]:
precip

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,...,heavy_rain_flag,extreme_rain_flag,max_precip,mean_precip,tb_min,tb_mean,cold_core_flag,tb_210,tb_200,tb_190
5094,404,192,895.129704,990.750856,2921,240,5095,2005-01-17 20:30:00,2005-01-17 20:30:00,-3.787296,...,329,70,115.286415,4.302215,186.774536,275.895905,0,41302,8713,65
5104,405,154,896.933437,987.794479,3452,240,5105,2005-01-17 21:30:00,2005-01-17 21:30:00,-3.714247,...,390,58,98.194763,4.210253,186.774536,276.037750,0,48665,9597,55
5119,406,159,904.169606,982.666063,4211,240,5120,2005-01-17 22:30:00,2005-01-17 22:30:00,-3.421182,...,407,36,113.204552,3.282438,186.774536,275.837189,0,62328,12218,68
5133,407,146,912.330189,976.992186,5436,240,5134,2005-01-17 23:30:00,2005-01-17 23:30:00,-3.090677,...,249,43,111.341049,2.333134,186.774536,275.933258,0,77389,14406,75
5145,408,126,917.242474,970.265297,6523,240,5146,2005-01-18 00:30:00,2005-01-18 00:30:00,-2.891730,...,291,37,110.989799,1.841960,187.475327,275.763062,0,91345,18351,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,121,142,787.815426,884.824504,3301,240,1714,2005-01-06 01:30:00,2005-01-06 01:30:00,-8.133526,...,57,2,57.634186,0.626328,183.907913,256.087097,0,196403,59390,3973
1727,122,114,789.523351,882.852131,3856,240,1728,2005-01-06 02:30:00,2005-01-06 02:30:00,-8.064354,...,3,0,18.027931,0.156370,183.907913,256.229523,0,225820,69129,4675
1741,123,118,790.395635,879.315758,3707,240,1742,2005-01-06 03:30:00,2005-01-06 03:30:00,-8.029027,...,0,0,4.192292,0.036072,183.907913,256.179413,0,215524,66113,4443
1753,124,104,793.223009,873.981790,3357,240,1754,2005-01-06 04:30:00,2005-01-06 04:30:00,-7.914518,...,0,0,2.758430,0.006530,183.907913,255.782974,0,198516,59541,3339
1764,125,131,800.116547,868.606793,2106,240,1765,2005-01-06 05:30:00,2005-01-06 05:30:00,-7.635329,...,0,0,0.897307,0.001893,184.678680,255.732620,0,121261,35385,1312

In [3]:
no_precip = pd.DataFrame()

for file in glob.iglob('/data/users/hgilmour/cold-core-filtering/Save/deleted_tracks/precip/*.hdf'):   
   file = pd.read_hdf(file, 'table')
   no_precip = pd.concat([no_precip, file])

In [5]:
no_precip

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,...,heavy_rain_flag,extreme_rain_flag,max_precip,mean_precip,tb_min,tb_mean,cold_core_flag,tb_210,tb_200,tb_190
1238,81,1,65.714917,876.556723,5743,240,1239,2005-01-04 09:30:00,2005-01-04 09:30:00,-37.378596,...,0,0,0.000000,0.000000,0.000000,0.000000,0,0,0,0
1253,82,1,60.343530,876.269496,4927,240,1254,2005-01-04 10:30:00,2005-01-04 10:30:00,-37.596137,...,0,0,0.000000,0.000000,0.000000,0.000000,0,0,0,0
1270,83,1,35.530398,916.905883,3951,240,1271,2005-01-04 11:30:00,2005-01-04 11:30:00,-38.601070,...,0,0,0.012987,0.000272,213.030167,282.527832,0,0,0,0
1287,84,1,35.436530,923.182965,4159,240,1288,2005-01-04 12:30:00,2005-01-04 12:30:00,-38.604871,...,0,0,0.000000,0.000000,0.000000,0.000000,0,0,0,0
1300,85,1,27.839749,938.782780,2887,240,1301,2005-01-04 13:30:00,2005-01-04 13:30:00,-38.912542,...,0,0,0.000000,0.000000,0.000000,0.000000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,210,105,572.162789,1309.761008,4208,240,2752,2005-01-09 18:30:00,2005-01-09 18:30:00,-16.867457,...,0,0,0.000975,0.000051,193.350128,277.758667,0,12338,353,0
2767,211,109,574.787497,1311.178707,3794,240,2768,2005-01-09 19:30:00,2005-01-09 19:30:00,-16.761157,...,0,0,0.000939,0.000054,197.762711,278.107483,0,8103,162,0
2782,212,121,572.149582,1313.303895,3548,240,2783,2005-01-09 20:30:00,2005-01-09 20:30:00,-16.867992,...,0,0,0.000742,0.000053,199.492996,278.509003,0,5327,13,0
2797,213,91,568.374333,1319.225813,2737,240,2798,2005-01-09 21:30:00,2005-01-09 21:30:00,-17.020890,...,0,0,0.000723,0.000069,200.087418,278.991669,0,2021,0,0
2815,214,93,565.936026,1323.672375,2066,240,2816,2005-01-09 22:30:00,2005-01-09 22:30:00,-17.119641,...,0,0,0.000814,0.000085,201.077530,279.119476,0,1037,0,0

In [9]:
no_CC = pd.DataFrame()

for file in glob.iglob('/data/users/hgilmour/cold-core-filtering/Save/deleted_tracks/cold_core/*.hdf'):   
   file = pd.read_hdf(file, 'table')
   no_CC = pd.concat([no_CC, file])

In [10]:
no_CC

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,...,heavy_rain_flag,extreme_rain_flag,max_precip,mean_precip,tb_min,tb_mean,cold_core_flag,tb_210,tb_200,tb_190
736,49,5,82.556428,479.347821,3031,240,737,2005-01-03 01:30:00,2005-01-03 01:30:00,-36.696516,...,123,0,21.417423,2.061605,210.121002,295.140991,0,0,0,0
749,50,5,83.329435,492.158048,4284,240,750,2005-01-03 02:30:00,2005-01-03 02:30:00,-36.665208,...,92,0,15.253739,1.495833,210.121002,294.796875,0,0,0,0
766,51,4,80.080243,506.785626,5732,240,767,2005-01-03 03:30:00,2005-01-03 03:30:00,-36.796799,...,16,0,11.638394,1.024426,210.121002,294.189362,0,0,0,0
781,52,3,71.752126,522.425821,5775,240,782,2005-01-03 04:30:00,2005-01-03 04:30:00,-37.134089,...,12,0,12.537232,0.665872,210.958099,293.339539,0,0,0,0
794,53,1,52.887373,557.028823,7127,240,795,2005-01-03 05:30:00,2005-01-03 05:30:00,-37.898112,...,2,0,10.179624,0.484205,210.079681,290.371674,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2732,209,10,173.576402,1234.468203,11244,240,2733,2005-01-09 17:30:00,2005-01-09 17:30:00,-33.010206,...,0,0,0.000000,0.000000,0.000000,0.000000,0,0,0,0
2747,210,11,182.114961,1242.403380,11464,240,2748,2005-01-09 18:30:00,2005-01-09 18:30:00,-32.664396,...,0,0,4.075021,0.157727,203.730148,280.476593,0,894,0,0
2762,211,12,181.840307,1239.966435,9799,240,2763,2005-01-09 19:30:00,2005-01-09 19:30:00,-32.675519,...,22,0,19.439781,0.233145,203.613495,279.897064,0,709,0,0
2777,212,14,174.941721,1235.195366,5119,240,2778,2005-01-09 20:30:00,2005-01-09 20:30:00,-32.954909,...,0,0,6.455027,0.352475,208.620697,281.335022,0,85,0,0
2792,213,15,186.834555,1252.887189,3941,240,2793,2005-01-09 21:30:00,2005-01-09 21:30:00,-32.473250,...,0,0,1.396834,0.016247,209.905075,280.275757,0,6,0,0

In [17]:
file = '/data/users/hgilmour/tracking/code/tobac_sensitivity/Save/tracks_2005_01.h5'

original = pd.read_hdf(file, 'table')

In [18]:
original

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,longitude,forecast_reference_time,forecast_period,cell,time_cell
0,0,9,179.648443,518.713643,3617,240,1,2005-01-01 00:30:00,2005-01-01 00:30:00,-32.764288,-64.032043,295.967957,295.967957,1,0 days 00:00:00
1,0,26,319.360864,876.726404,7359,240,2,2005-01-01 00:30:00,2005-01-01 00:30:00,-27.105936,-49.532534,310.467466,310.467466,2,0 days 00:00:00
2,0,57,465.549812,1014.466367,5384,240,3,2005-01-01 00:30:00,2005-01-01 00:30:00,-21.185283,-43.954061,316.045939,316.045939,-1,NaT
3,0,73,763.319602,705.760312,47759,240,4,2005-01-01 00:30:00,2005-01-01 00:30:00,-9.125606,-56.456667,303.543333,303.543333,-1,NaT
4,0,86,577.470368,717.240701,2132,240,5,2005-01-01 00:30:00,2005-01-01 00:30:00,-16.652501,-55.991687,304.008313,304.008313,-1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9076,743,241,882.032521,698.342702,7910,240,9077,2005-01-31 23:30:00,2005-01-31 23:30:00,-4.317733,-56.757057,303.242943,303.242943,-1,NaT
9077,743,252,940.225439,833.293263,3228,240,9078,2005-01-31 23:30:00,2005-01-31 23:30:00,-1.960920,-51.291560,308.708440,308.708440,-1,NaT
9078,743,272,1046.778633,1275.959222,20583,240,9079,2005-01-31 23:30:00,2005-01-31 23:30:00,2.354484,-33.363590,326.636410,326.636410,-1,NaT
9079,743,320,1097.697734,916.296729,3373,240,9080,2005-01-31 23:30:00,2005-01-31 23:30:00,4.416709,-47.929939,312.070061,312.070061,-1,NaT
9080,743,328,1142.170021,1089.531691,14727,240,9081,2005-01-31 23:30:00,2005-01-31 23:30:00,6.217835,-40.913924,319.086076,319.086076,2222,0 days 09:00:00

In [19]:
original = original[original.cell >= 0]

In [11]:
import numpy as np

In [20]:
print(np.unique(precip.cell.values).shape[0])

print(np.unique(no_precip.cell.values).shape[0])

print(np.unique(no_CC.cell.values).shape[0])

print(np.unique(original.cell.values).shape[0])

372
17
38
391